blinker==1.4
Flask==0.10.1
Flask-Admin==1.4.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
geocoder=1.15.0
Jinja2==2.8
MarkupSafe==0.23
oauth==1.0.1
oauthlib==1.1.1
PyMySQL==0.7.4
PyYAML==3.10
requests==2.2.1
requests-oauthlib==0.6.1
SQLAlchemy==1.0.13
sqlalchemy-migrate==0.10.0
urllib3==1.7.1
Werkzeug==0.11.10
WTForms==2.1
