<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600,500' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,ру400italic,700' rel='stylesheet'
          type='text/css'>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- Add your site or application content here -->

<!-- header Start
================================================= -->
{% include 'header.html' %}

<!-- Slider Start
============================================================== -->
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <th>UUID</th>
        <th>IP address</th>
    </tr>
    </thead>
    <tbody>
    {% for device in devices %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>
                <a href="{{ url_for('device_chart', device_id=device.uuid) }}">{{ device.uuid }}</a>
            </td>
            <td>
                {{ device.ip_addr }}
            </td>
            <td>
                <a href="{{ url_for('dettach_device', device_id=device.uuid) }}">Detach</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form class="form-inline" action="{{ url_for('attach_device') }}?arg=1" method="post">
    <div class="form-group">
        <label class="sr-only">Add device</label>
        <p class="form-control-static">Attach Device UUID</p>
    </div>
    {% if error %}
        <div class="form-group">
            <label class="sr-only">{{ error }}</label>
            <p class="form-control-static">{{ error }}</p>
        </div>
    {% endif %}
    <div class="form-group">
        <input type="text" name="device_uuid"><br>
{#        <input type="text" class="form-control" id="device_uuid" placeholder="abcdefgh">#}
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
<br>
<!-- footer Start
====================================================================== -->

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="footer-contant">
                        <h3>Say Hi, Get In Touch</h3>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-tumblr"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="support-link">
                            <ul>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Developers</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- col-md-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #footer -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}"><\/script>')</script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
</body>
</html>
