<head>
    <script src="https://code.jquery.com/jquery-1.12.3.js"
            integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
            crossorigin="anonymous"></script>
    <title>Energylayer Dashboard </title>

    <script src="{{ url_for('static', filename='js/graphs/plugins/flot/jquery.flot.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphs/plugins/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphs/plugins/flot/jquery.flot.axislabels.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='dashboard/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link href="fonts/css/font-awesome.min.css" rel="stylesheet">  -->
    <link href="{{ url_for('static', filename='dashboard/css/animate.min.css') }}" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="{{ url_for('static', filename='dashboard/css/custom.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='dashboard/css/maps/jquery-jvectormap-2.0.3.css') }}"/>
    <link href="{{ url_for('static', filename='dashboard/css/icheck/flat/green.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='dashboard/css/floatexamples.css') }}" rel="stylesheet" type="text/css"/>

    <!-- <script src="js/nprogress.js"></script>  -->

    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='dashboard/js/ie8-responsive-file-warning.js') }}"></script>
</head>
<!-- HTML -->
    <!-- Main Layout Stylesheet -->
<body class="nav-md">
<div class="container body">


    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <!-- <a href="../index.html" class="site_title"><i class="fa fa-paw">k</i> <span>Energylayer</span></a>  -->
                    <!-- <a href="../index.html" class="site_title"><img src="../img/small_logo.png" alt="logo" class="small_logo"><span> Energylayer</span></a> -->
                    <div class="small_logo"><a href="{{ url_for('index') }}"><img
                            src="{{ url_for('static', filename='img/big_logo.png') }}" alt="logo"> </a></div>
                </div>
                <div class="clearfix"></div>

                <!-- menu prile quick info -->

                <!-- /menu prile quick info -->

                <br/>


                <!-- sidebar menu
               ================================================= -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ url_for('index') }}">
                                    <i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: none">
                                    <li><a href="index.html">Generation Dashboard</a>
                                    </li>
                                    <li><a href="index.html">Consumption Dashboard</a>
                                    </li>
                                </ul>
                            </li>
                            {% for d in other_devices %}
                                <li>
                                    <a href="{{ url_for('device_chart', device_id=d) }}">
                                        <i class="fa fa-home"></i> Device {{ d }} <span
                                            class="fa fa-chevron-down"></span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('edit_user') }}"><i class="fa fa-table"></i> Profile <span
                                        class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="tables.html">Tables</a>
                                        </li>
                                        <li><a href="tables_dynamic.html">Table Dynamic</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li><a href="{{ url_for('user_devices') }}"><i class="fa fa-bar-chart-o"></i> Table <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: none">
                                    <li><a href="chartjs.html">Chart JS</a>
                                    </li>
                                    <li><a href="chartjs2.html">Chart JS2</a>
                                    </li>
                                    <li><a href="morisjs.html">Moris JS</a>
                                    </li>
                                    <li><a href="echarts.html">ECharts </a>
                                    </li>
                                    <li><a href="other_charts.html">Other Charts </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation
        ================================================= -->
        <div class="top_nav">

            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                {% if not current_user.is_authenticated %}
                                    <img src="{{ url_for('static', filename='img/img.jpg') }}" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                {% else %}
                                    {{ current_user.first_name }}
                                    <img src="{{ current_user.avatar }}" width="40" height="40" class="avatar">
                                    <span class=" fa fa-angle-down"></span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                <li><a href="javascript:;"> Profile</a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">Help</a>
                                </li>
                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">27</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                                <li>
                                    <a>
                                            <span class="image">
                                        <img src="{{ url_for('static', filename='img/img.jpg') }}" alt="Profile Image"/>
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                            <span class="image">
                                        <img src="{{ url_for('static', filename='img/img.jpg') }}" alt="Profile Image"/>
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                            <span class="image">
                                        <img src="{{ url_for('static', filename='img/img.jpg') }}" alt="Profile Image"/>
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                            <span class="image">
                                        <img src="{{ url_for('static', filename='img/img.jpg') }}" alt="Profile Image"/>
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a href="inbox.html">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
        <!-- /top navigation -->


        <!-- page content -->
        <div class="right_col" role="main">
            <table align="center">
                <div class="row">
                    <span align="center"><h2>Metric: {{ metric }}</h2></span>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 offset2">
                        <ul id="navs" class="nav nav-pills">
                            <li class="active"><a href="#" data-target="#live" data-toggle="tab"><i
                                    class="icon-history"></i> Live Stats</a>
                            </li>
                            <li><a href="#" data-target="#math" data-toggle="tab"><i class="icon-graph"></i>
                                Hour</a>
                            </li>
                            <li id='second'><a href="#" data-target="#fb" data-toggle="tab"><i
                                    class="icon-facebook"></i> Day</a></li>
                            <li><a href="#" data-target="#revenue" data-toggle="tab"><i
                                    class="icon-bars"></i> Week</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% for metric in metrics %}
                    <tr>
                        <div id="dashboard-demo" class="tabbable analytics-tab paper-stack">
                            <div class="tab-content">
                                <div id="live" class="tab-pane active">
                                    <div class="analytics-tab-content">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-9 offset2">
                                                <!--div id="demo-chart-00" style="height: 265px;"></div -->
                                                <div id="flot-placeholder{{ metric }}"
                                                     style="width:691px;height:265px;margin:30"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <footer>
            <div class="">
                <p class="pull-right">Energylayer 2016.

                </p>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    <!-- /page content -->
</div>
</body>

<script>
    var user_id = 0;
    {% if current_user.is_authenticated %}
        user_id = {{ current_user.id }};
    {% endif %}
    var data = [];
    var devices = [];
    var options = [];
    var metrics = [];
    var maxValues = {{ max_values }};
    var steps = [];

    for (var i = 0; i < maxValues.length; i++) {
        steps[i] = Math.ceil(maxValues[i] / 10);
    }

    {% for metric in metrics %}
        metrics.push("{{ metric }}");
        data.push([]);
    {% endfor %}

    {% for device in devices %}
        devices.push("{{ device }}");
    {% endfor %}

    var mode = 'Live Stats';
    var months = ['January', 'February', 'March',
        'April', 'May', 'June',
        'July', 'August', 'September',
        'October', 'November', 'December'];
    var temperature = [];
    var totalPoints = 180; //The total memory is 180 sec (30 min)
    var updateInterval = 10000; // 200 x 1000 = 200sec (30min)
    var now = new Date().getTime() - totalPoints * updateInterval; //200 x 1000
    var flag = 1; // Counter to used to decide whether get data from server of generate.
    var timeInterval = "/live";

    // Preload data from the server.
    {% for m in measurements %}
        data[0][{{ loop.index }}] = [now, {{ m['voltage'] }}];
        data[1][{{ loop.index }}] = [now, {{ m['power'] }}];
        data[2][{{ loop.index }}] = [now, {{ m['temperature'] }}];

        now += updateInterval;
    {% endfor %}

    function initOptions() {
        var tick;
        //tick = [0.03 * updateInterval, "second"];
        //if (mode == 'Week')
        tick: [2, "day"];

        for (var i = 0; i < metrics.length; i++) {
            const metric = metrics[i];

            options[i] = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2,
                        fill: true,
                        fillColor: {colors: [{opacity: 0.4}, {opacity: 0}]},
                    }
                },
                xaxis: {
                    mode: "time",
                    //tickSize: [30, "second"],
                    //tickSize: [totalPoints/10, "second"],
                    //tickSize: [0.03 * updateInterval, "second"],
                    tickSize: tick,

                    tickFormatter: function (v, axis) {
                        var date = new Date(v);
                        //if (date.getSeconds() % 60 == 0) {
                        //if (date.getSeconds() % totalPoints/10 == 0) {
                        if (date.getSeconds() % 0.06 * updateInterval == 0) {
                            var month = months[date.getUTCMonth()]; //months from 1-12
                            var day = date.getUTCDate();
                            var newdate = month + "/" + day;

                            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                            if (mode == 'Week') {
                                return newdate + ", " + hours + ":" + minutes;
                            }
                            return hours + ":" + minutes + ":" + seconds;
                        }
                        else {
                            return "";
                        }
                    },
                    axisLabel: "Time",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                    min: 0,
                    max: maxValues[i],
                    tickSize: steps[i],
                    tickFormatter: function (v, axis) {
                        return v + " "; // + getUnit(metric);
                    },
                    axisLabel: "Energy generated",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 6
                },
                legend: {
                    labelBoxBorderColor: "#fff"
                },
                grid: {
                    //backgroundColor: "#000000",
                    backgroundColor: "#fff",
                    //tickColor: "#008040"
                    borderWidth: 1,
                    hoverable: true, clickable: true, autoHighlight: true
                }
            };
        }
    }

    function getMetric(measurement, key) {
        switch (key) {
            case "voltage":
                return measurement.voltage;
            case "power":
                return measurement.power;
            case "temperature":
                return measurement.temperature;
        }
    }

    function getUnit(metric) {
        switch (metric) {
            case "voltage":
                return "v";
            case "current":
                return "a";
            case "power":
                return "w";
            case "temperature":
                return "c";
        }
        return ""
    }

    {#    function GenerateFakeData(input) {#}
    {#        input.shift();#}
    {#        var sum = 0;#}
    {#        var timestamp = input[input.length - 1][0] + updateInterval;#}
    {##}
    {#        for(var i = 0;i < input.length; i++) {#}
    {#            sum += input[i][1];#}
    {#        }#}
    {##}
    {#        var deviation = (Math.random() - 0.5) * 5;#}
    {#        var avg = sum / input.length + deviation;#}
    {##}
    {#        input.push([timestamp, avg]);#}
    {#    }#}
    function updateOptions(maxValue, index) {
        options[index].yaxis.max = maxValue;
        options[index].yaxis.tickSize = maxValue / 10;
    }

    function closestPowerOfTen(val) {
        var tmp = 10;

        while (tmp < val) {
            tmp *= 10;
        }

        if (val < tmp >> 3) {
            tmp = tmp >> 2;
        } else {
            if (val < tmp >> 2) {
                tmp = tmp >> 1;
            }
        }

        return tmp;
    }

    function hasMaximumChanged(values, index) {
        maxValues[index] = 0;

        for (var i = 0; i < values.length; i++) {
            if (maxValues[index] < values[i][1]) {
                maxValues[index] = values[i][1];
            }
        }

        return maxValues[index];
    }


    function GetData(input, device_id, metric, index) {
        $.ajax({
            url: "/api/measurement/" + device_id + "/count/" + totalPoints + timeInterval,
            dataType: "json",
            async: false,
            success: function (values, textStatus) {
                console.log(values);
                var value;
                var nowTmp = now;

                if (input.length < totalPoints) {
                    for (var i = 0; i < values.length; i++) {
                        value = getMetric(values[i], metric);
                        nowTmp += updateInterval;
                        input.push([nowTmp, value]);

                        if (input.length > totalPoints) {
                            input.shift();
                        }
                    }
                } else {
                    var last = input[input.length - 1];
                    value = getMetric(values[values.length - 1], metric);
                    input.shift();
                    var newValue = [last[0] + updateInterval, value];
                    input.push(newValue);
                }

                var newMax = hasMaximumChanged(input, index);
                // Redraw chart if new Maximum has appeared.
                if (newMax != -1) {
                    newMax = closestPowerOfTen(newMax);
                    updateOptions(newMax, index);
                }
            },
            error: function (value, textStatus) {
                console.log("Error")
            }
        });
    }

    $(document).ready(function () {
        dataset = [];
        initOptions();

        for (var i = 0; i < metrics.length; i++) {
            dataset.push([
                //{ label: "CPU", data: data, color: "#00FF00" }
                {data: data[i], label: metrics[i], color: 'green', points: {show: false}},
                //{ data: temperature, label: 'Temperature', color: '#ed7a53' , points: { show: false }}
            ]);
            GetData(data[i], devices[0], metrics[i], i);
        }

        for (var i = 0; i < metrics.length; i++) {
            $.plot($("#flot-placeholder" + metrics[i]), dataset[i], options[i]);
        }
        console.log('totalPoints * updateInterval: ', totalPoints * updateInterval);

        for (var i = 0; i < metrics.length; i++) {
            $("#flot-placeholder" + metrics[i]).bind("plothover", function (event, pos, item) {

                /*  Tooltips  */

                /* 1. Adding tooltip */
                $("<div id='tooltip'></div>").css({
                    position: "absolute",
                    display: "none",
                    border: "1px solid #fdd",
                    padding: "2px",
                    //"background-color": "#fee",
                    "background-color": " #fff59d ",
                    opacity: 0.80
                }).appendTo("body");

                /* 2. Put data in tooltip */
                if (item) {
                    //console.log('item: ', item.datapoint[1]);
                    var dateTip = new Date(item.datapoint[0]);

                    function pad(n) {
                        return n < 10 ? '0' + n : n
                    } // for adding leading zeros
                    dateTip = pad(dateTip.getHours()) + ":" + pad(dateTip.getMinutes()) + ":" + pad(dateTip.getSeconds());
                    if (mode == 'Week')
                        dateTip = pad(dateTip.getHours()) + ":" + pad(dateTip.getMinutes()) + ":" + pad(dateTip.getSeconds());
                    $("#tooltip").html("<b>" + Math.floor(item.datapoint[1]) + " </b> <br>" + " <small>" + dateTip + " </small>")
                            .css({top: item.pageY - 65, left: item.pageX - 10})
                            .fadeIn(200);
                }
                else {
                    $("#tooltip").hide();
                }
            });
        }

        var timerId = 0;

        function update() {
            console.log("update! ");
            now = new Date().getTime();

            for (var i = 0; i < metrics.length; i++) {
                if (!data[i]) {
                    data.push([]);
                    dataset[i] = [
                        //{ label: "CPU", data: data, color: "#00FF00" }
                        {data: data[i], label: metrics[i], color: 'green', points: {show: false}},
                        //{ data: temperature, label: 'Temperature', color: '#ed7a53' , points: { show: false }}
                    ]
                }

                if (flag == 0) {
                    GetData(data[i], devices[0], metrics[i], i);
                }
            }

            // Redraw charts
            for (i = 0; i < metrics.length; i++) {
                $.plot($("#flot-placeholder" + metrics[i]), dataset[i], options[i]);
            }

            timerId = setTimeout(update, updateInterval);
            flag = 0;
        }

        update();

        /* Manage tabs events*/
        var anchor;
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            // Read the a text of the anchor that was clicked
            mode = $(e.target).context.innerText;

            console.log("text: ", mode);
            console.log("old updateInterval: ", updateInterval);

            /* Change update interval */
            switch (mode) {
                case 'Live Stats':
                    updateInterval = 10000;      //1 sec  / 3 minutes
                    totalPoints = 180;
                    timeInterval = "/live";
                    break;
                case 'Hour':
                    updateInterval = 20 * 1000;       //20 sec  / 1 hour
                    timeInterval = "/hour";
                    break;
                case 'Day':
                    updateInterval = 24 * 20 * 1000;   //8 min   / 24 hours
                    timeInterval = "/day";
                    break;
                case 'Week':
                    updateInterval = 7 * 24 * 20 * 1000; //56 min / 7 days
                    timeInterval = "/week";
                    break;
                default:
                    alert('Я таких значений не знаю')
            }
            console.log("updateInterval: ", updateInterval);

            /* drop the data[] and run update */
            data = [];
            now = new Date().getTime() - totalPoints * updateInterval; //200 x 1000

            initOptions();

            for (var i = 0; i < metrics.length; i++) {
                if (!data[i]) {
                    data.push([]);
                    dataset[i] = [
                        //{ label: "CPU", data: data, color: "#00FF00" }
                        {data: data[i], label: metrics[i], color: 'green', points: {show: false}},
                        //{ data: temperature, label: 'Temperature', color: '#ed7a53' , points: { show: false }}
                    ]
                }

                GetData(data[i], devices[0], metrics[i], i);
                $.plot($("#flot-placeholder" + metrics[i]), dataset[i], options[i]);
            }
            update();
            console.log('totalPoints * updateInterval: ', totalPoints * updateInterval);
            clearTimeout(timerId);

        });

    });
</script>