<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="form">
    <div class="tab-content">
        <div id="signup">
            <h1>Edit profile</h1>
            <form action="{{ url_for('edit_user') }}" method="post">
                <div>
                  <img src="{{ current_user.avatar}}" class="avatar">
                </div>
                <div class="field-wrap">
                    <input type="username" name="username" value="{{ current_user.username }}"/>
                        <div class="error">
                        {% if form and form.username.errors|length > 0  %}
                            {{ form.username.errors }}
                        {% endif %}
                        </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <input type="text" name="firstname" value="{{ current_user.first_name }}"/>
                        <div class="error">
                        {% if form and form.firstname.errors|length > 0  %}
                            {{ form.firstname.errors }}
                        {% endif %}
                        </div>
                    </div>
                    <div class="field-wrap">
                        <input type="text" name="lastname" value="{{ current_user.last_name }}"/>
                        <div class="error">
                        {% if form and form.lastname.errors|length > 0  %}
                            {{ form.lastname.errors }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="field-wrap">
                    <input type="email" name="email" value="{{ current_user.email }}"/>
                        <div class="error">
                        {% if form and form.email.errors|length > 0  %}
                            {{ form.email.errors }}
                        {% endif %}
                        </div>
                </div>
                <p class="forgot"><a href="{{ url_for('index') }}">Back</a></p>
                <button type="submit" class="button button-block"/>
                Get Started</button>
            </form>
        </div>
    </div><!-- tab-content -->
</div> <!-- /form -->
</body>
</html>
