<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="login-page">
<ul class="flashes">
    <li class="info">Please log in to access this page.</li>
</ul>
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<h1>Login</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email) }}
  {{ render_field_with_errors(login_user_form.password) }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit) }}
</form>
{% include "security/_menu.html" %}
<div>
    <p>
        <a href="{{ url_for('facebook_connect') }}" class="fb-button">
            <span>Login with Facebook:</span>
            <img border="0" alt="Facebook" src="{{ url_for('static', filename='img/facebook.png') }}" width="64" height="64">
        </a>
    </p>
    <p>
        <a href="{{ url_for('twitter_connect') }}" class="tw-button">
            <span>Login with Twitter:</span>
            <img border="0" alt="Twitter" src="{{ url_for('static', filename='img/twitter.png') }}" width="64" height="64"/>
        </a>
    </p>
    <p>
        <a href="{{ url_for('google_connect') }}" class="go-button">
            <span>Login with Google:</span>
            <img border="0" alt="Google" src="{{ url_for('static', filename='img/google.png') }}" width="64" height="64"/>
        </a>
    </p>
</div>
</body>
